In [1]:
import pandas as pd

Cargar datos

In [105]:
# Importamos el dataset de los datos de los pokemon
df = pd.read_csv('dataset_final.csv')
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [109]:
'''
1. ¿Cuántos pokémon hay en el dataset? --> 800
'''
df['Name'].count()

800

In [125]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1) --> 28
'''

df_poison = df[df['Type 1'] == "Poison"]
df_poison['Name'].count()

28

In [64]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
df.groupby('Type 1')['Name'].count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64

In [48]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
df.groupby('Type 1')['Name'].count()
'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''
df.groupby('Type 1')['Name'].count().sort_values(ascending=False)

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Name, dtype: int64

In [41]:
'''
3. ¿Cuál es el pokémon más rápido? --> DeoxysSpeed Forme
'''

df.sort_values(['Speed'], ascending=False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True
315,291,Ninjask,Bug,Flying,456,61,90,45,50,50,160,3,False
428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,597,Ferroseed,Grass,Steel,305,44,50,91,24,86,10,5,False
486,438,Bonsly,Rock,NaN,290,50,80,95,10,45,10,4,False
359,328,Trapinch,Ground,NaN,290,45,100,45,45,45,10,3,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
495,446,Munchlax,Normal,NaN,390,135,85,40,40,85,5,4,False

In [150]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''
'''
4.1 ¿Cuántos pokemon tiene una defensa superior a 100? -> 123
'''
d_mayor_100 = df[df['Defense'] > 100]

#df[d_mayor_100].count()

d_mayor_100['Name'].count()

123

In [160]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100? --> 9
'''

df_speed_defense = df[(df['Defense'] > 100) & (df['Speed'] > 100)]

df_speed_defense['Name'].count()

9

In [69]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
df.sort_values(['Type 1', 'Type 2'], ascending=[True, False])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
307,283,Surskit,Bug,Water,269,40,30,32,50,52,65,3,False
220,205,Forretress,Bug,Steel,465,75,90,140,60,60,40,2,False
228,212,Scizor,Bug,Steel,500,70,130,100,55,80,65,2,False
229,212,ScizorMega Scizor,Bug,Steel,600,70,150,140,65,100,75,2,False
460,413,WormadamTrash Cloak,Bug,Steel,424,60,69,95,69,95,36,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [80]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
poke_water_fire = df[(df['Type 1'] == 'Fire') | (df['Type 1'] == 'Water')]
poke_water_fire

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [81]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
poke_legendary = df[(df['Legendary'] == True)]
poke_legendary

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [161]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
poke_legendary.mean(axis=0)
poke_not_legendary = df[(df['Legendary'] == False)]
poke_not_legendary.mean(axis=0)

C:\Users\c_san\AppData\Local\Temp\ipykernel_400\2881248998.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  poke_legendary.mean(axis=0)
C:\Users\c_san\AppData\Local\Temp\ipykernel_400\2881248998.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  poke_not_legendary.mean(axis=0)

#             353.315646
Total         417.213605
HP             67.182313
Attack         75.669388
Defense        71.559184
Sp. Atk        68.454422
Sp. Def        68.892517
Speed          65.455782
Generation      3.284354
Legendary       0.000000
dtype: float64

In [164]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''

df_pokemon = pd.DataFrame(df[poke_legendary & poke_not_legendary],columns=poke_legendary.columns(), index=['Legendary', 'No Legendary'])

TypeError: unsupported operand type(s) for &: 'float' and 'bool'

In [ ]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''

In [ ]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''

In [18]:
from functools import reduce, partial

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']


# A. Una función que calcule el precio total de la compra
def precio_total(compra, articulos):
    precio_compra = reduce(lambda acc, item: articulos[item] + acc,  compra, 0)
    return precio_compra

print('Precio Compra: ', precio_total(compra, articulos))


# B. Una función que calcule el precio total de la compra con un descuento del 10%

def precio_con_descuento(porcetaje_descuento, precio):
    descuento = precio * porcetaje_descuento/100
    return precio - descuento

descuento_10_porciento = partial(precio_con_descuento, 10)

print("Descuento del 10%: ", descuento_10_porciento(precio_total(compra, articulos)))


# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€

def descuento_compra_mayor_100(total):
    if total > 100:
        result = descuento_10_porciento(total)
    else:
        result = total
    return result

print('Descuento compra mayor de 100: ', descuento_compra_mayor_100(precio_total(compra, articulos)))


# D. Una función que calcule el precio total aplicando el IVA (21%)

add_impuesto = lambda impuesto, cantidad: (cantidad * impuesto/100) + cantidad

add_iva_21 = partial(add_impuesto, 21)

calcula_total_mas_iva = add_iva_21(precio_total(compra, articulos))

print('Precio con IVA: ', calcula_total_mas_iva)

# E.lista los artículos cuyo precio es superior a 20€

menor_20 = list(filter(lambda item: articulos[item] > 20, compra))
print('Productos con precio menor de 20: ', menor_20)

Precio Compra:  155
Descuento del 10%:  139.5
Descuento compra mayor de 100:  139.5
Precio con IVA:  187.55
Productos con precio menor de 20:  ['Pantalón', 'Pantalón', 'Gafas', 'Corbata']

In [4]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

In [14]:
def notas_por_curso(curso):
    alumnos_por_curso = list(filter(lambda alumno: alumno[2] == curso, alumnos))
    return list(map(lambda alumno: (alumno[0], alumno[1], promedio_notas(alumno[3])), alumnos_por_curso))
   

def promedio_notas(notas):
    suma_notas = reduce(lambda accum, nota: accum + nota, notas, 0)
    return suma_notas / len(notas)

In [15]:
notas_por_curso('1')

NameError: name 'reduce' is not defined